@import 'universal';

.about{
  > div{
    padding: $spacing-unit;
  }
}
.about-quote{

  h2{
    font-size: 2em;
    font-style: italic;
    text-align: center;
    line-height: 1.25em;
  }
  h3{
    padding: $spacing-unit 0 $spacing-unit 0;
    text-align: right;
  }
}