@import 'universal';
//VARIABLES
$item-size: 15vw;

//mixin sorta
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

ul.home-items{
  @media #{$screen-break2}{
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.item {
  width: $item-size;
  margin: $spacing-unit;
  .item-title {
    font-size: 1.25em;
    font-style: italic;
    margin: .25em 0 .25em 0;
  }
  .item-artist {}
  // @include transition(margin 500ms ease-in-out);

  @media #{$screen-break2}{
    position: static;
    flex: 50%;
    max-width: 50%;
    padding: $spacing-unit;
    margin: 0;
    @include border-box();
  }
}

.item-colors {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  div {
    @extend .center;
  }
}

li.item:not(:first-child) {
  margin-top: $item-size*-.5;
  @media #{$screen-break2}{
    margin-top: 0;
  }
}

.overlapping-right{
  @include translate(110%,0);
}

.overlapping-left{
  @include translate(-110%,0);
}