@import 'universal';
//VARIABLES
$item-size: 15vw;

//mixin sorta
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.item {
  width: $item-size;
  position: absolute;
  margin: $spacing-unit;
  .item-name {
    font-size: 1.25em;
    font-style: italic;
    margin: .25em 0 .25em 0;
  }
  .item-artist {}

  @media #{$screen-break2}{
    position: static;
    flex: 50%;
    max-width: 50%;
    padding: $spacing-unit;
    margin: 0;
    @include border-box();
  }
}

.item-colors {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  div {
    @extend .center;
  }
}

//SPECIFIC ITEMS
//FIXME: Color CSS should be dynamically created with node
//id contains position & colors
#one {
  .primary {
    width: 100%;
    height: 100%;
    background-color: olive;
  }
  .secondary {
    width: 60%;
    height: 60%;
    background-color: beige;
  }
  .tertiary {
    width: 20%;
    height: 20%;
    background-color: teal;
  }
}

#two {
  left: 50vw;
  top: 20vw;
  .primary {
    //first color is set to 100%
    width: 100%;
    height: 100%;
    background-color: #BA8B62;
  }
  .secondary {
    //proportionate to 
    //(100/primary%) * .66 * secondary %
    width: 49%;
    height: 49%;
    background-color: #A75A3C;
  }
  .tertiary {
    //proportionate to 
    //(100/primary%) * .33 * tertiary %
    width: 28%;
    height: 28%;
    background-color: #614439;
  }
}

#three {
  left: 20vw;
  top: 200vw;
  .primary {
    //first color is set to 100%
    width: 100%;
    height: 100%;
    background-color: #b979b7;
  }
  .secondary {
    //proportionate to 
    //(100/primary%) * .66 * secondary %
    width: 62.2%;
    height: 62.2%;
    background-color: #b99dbf;
  }
  .tertiary {
    //proportionate to 
    //(100/primary%) * .33 * tertiary %
    width: 29.08%;
    height: 29.08%;
    background-color: #a964a5;
  }
}
