@import 'reset.scss';
@import 'config.scss';
@import 'mixins.scss';

$screen-break1: 'screen and (max-width: 1200px)';
$screen-break2: 'screen and (max-width: 1000px)';

body{
	background-color: $color-dark;
	font-family: $font-primary;
	color: $color-light;

		@media #{$screen-break2}{
			font-size: 1.4em;
		}
}

a, a:visited {
	color:  $color-light;
	text-decoration: none;
}

nav
{
	position: fixed;
	width: 100%;
	@include border-box();
	top: 0; 
	left: 0;
	padding: $spacing-unit;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-basis: 100;

	z-index: 999;

	@media #{$screen-break2}{
		flex-direction: column;
		flex-wrap: wrap;
		flex-basis: 100;
		text-align: center;
	}
}

.site-title{
	h1{
		font-size: $site-title-size;
	}
	h1:nth-of-type(1){
		position: fixed;
		@include transform-origin(0% 0%)
		@include transform(rotate(-90deg) translateX(-111%));
		&:after{
			content: ':';
		}
	}

	@media #{$screen-break1}{
		h1{font-size:$site-title-size-break1;}
	}
	@media #{$screen-break2}{
		h1{
			position: relative;
		}
		h1:nth-of-type(1){
			position: relative;
			@include transform(rotate(0deg) translateX(0%));
			&:after{
				content: '';
			}
		}
		h1:nth-of-type(2){
			display: none;
		}
	}
}

.menu{
	top: $site-title-size/2;
	padding: $spacing-unit/2 $spacing-unit;
	display: flex;
	align-items: center;
	justify-content: center;
	li{
		display: inline-block;
		margin: 0 $spacing-unit/2 0 $spacing-unit/2;
	}
	@media #{$screen-break1}{
		top: $site-title-size-break1/2;
	}
}