@import 'reset.scss';
@import 'config.scss';
@import 'mixins.scss';

$screen-break1: 'screen and (max-width: 1000px)';


body{
	background-color: $color-dark;
	font-family: $font-primary;
	color: $color-light;
	padding: $spacing-unit;
}

a, a:visited {
	color:  $color-light;
	text-decoration: none;
}

nav
{
	div, ul, li{
		z-index: 999;
	}
	
}

.site-title{
	position: fixed;
	h1{
		font-size: $site-title-size;
	}
	h1:nth-of-type(1){
		position: fixed;
		@include transform-origin(0% 0%)
		@include transform(rotate(-90deg) translateX(-111%));
	}

	@media #{$screen-break1}{
		h1{font-size:3em;}
	}
}

.menu{
	position: fixed;
	right: 0;
	top: $site-title-size/2;
	padding: $spacing-unit/2 $spacing-unit;
	li{
		display: inline-block;
		margin: 0 $spacing-unit/2 0 $spacing-unit/2;
	}
}