@import 'reset.scss';
@import 'config.scss';
@import 'mixins.scss';

body{
	background-color: $color-dark;
	font-family: $font-primary;
	color: $color-light;
	font-size: $font-size;
	overflow-x: hidden;

	//font smoothing
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;

	@media #{$screen-break2}{
		font-size: $font-size-mobile;
	}
}

p{
	line-height: 1.5em;
}

a, a:visited {
	color:  $color-light;
	text-decoration: none;
}

nav
{
	position: fixed;
	width: 100%;
	max-width: $site-max-width;
	@include border-box();
	top: 0; 
	left: 0;
	padding: $spacing-unit;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-basis: 100;

	z-index: 999;

	@media #{$screen-break2}{
		position: relative;
		flex-direction: column;
		flex-wrap: wrap;
		flex-basis: 100;
		text-align: center;
	}
}

.site-title{
	font-family: $font-secondary;
	h1{
		font-size: $site-title-size;
	}
	h1:nth-of-type(1){
		position: fixed;
		@include transform-origin(0% 0%)
		@include transform(rotate(-90deg) translateX(-111%));
		&:after{
			content: ':';
		}
	}

	@media #{$screen-break1}{
		h1{font-size:$site-title-size-break1;}
	}
	@media #{$screen-break2}{
		h1{
			position: relative;
		}
		h1:nth-of-type(1){
			position: relative;
			@include transform(rotate(0deg) translateX(0%));
			&:after{
				content: '';
			}
		}
		h1:nth-of-type(2){
			display: none;
		}
	}
}

.menu{
	top: $site-title-size/2;
	padding: $spacing-unit/2 $spacing-unit;
	display: flex;
	align-items: center;
	justify-content: center;
	li{
		display: inline-block;
		margin: 0 $spacing-unit/2 0 $spacing-unit/2;
	}
	@media #{$screen-break1}{
		top: $site-title-size-break1/2;
	}
}

#content-area{
	position: relative;
	margin: $site-title-size+$spacing-unit*2 0 0 $site-title-size+$spacing-unit*2;
	max-width: $site-max-width;
	@include opacity(1);
	@include transition(opacity 500ms ease-in-out);

	@media #{$screen-break1}{
		margin: $site-title-size-break1+$spacing-unit*2 0 0 $site-title-size-break1+$spacing-unit*2;
	}
	@media #{$screen-break2}{
		margin: 0;
		display: flex;
		flex-wrap: wrap;
	}
}

.all-items{
	// background-color: grey;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	
	padding: $spacing-unit !important;

	> div {
		position: static;
		top: 0; left: 0;
		flex-basis: 10%;
		padding: 0;
		margin: 0;

		@media #{$screen-break2}{
			flex-basis: 12.5%;
		}
	}
}

.fadeOut{
	@include opacity(0);
	@include transition(opacity 500ms ease-in-out);
}