<div class="about">
	<div class="about-quote">
		<h2>
			Our question is why snowflakes in their first falling...always fall with six corners and six rods, tufted like feathers... There must be some definite cause...
		</h2>
		<h3>
			Johannes Kepler, De Nive Sexangula, 1611
		</h3>
	</div>
	<div class="about-description">
	<p>
		Pattern is deeply embedded in everything we do. Pattern defines and regulates how we speak, think, and interact with our natural and manufactured environments. We observe it, create it, manipulate it, subvert it, and seek to discern its meaning. Consider the symmetry that results form the arrangement of water molecules into six-pointed starlet, how violations of expected letter patterns disrupt our ability to process language with ease, or how patterns expanded into visual systems like the mandala, guide viewers to achieve salvation or attain enlightenment. Sixfold Symmetry explores pattern in these areas, and more, by drawing on the particular interests and expertise of nine Skidmore College faculty in the arts and sciences, and in doing so investigates themes that transcend disciplinary boundaries. The exhibition stages scientific, mathematical, and humanistic thought alongside artistic expression and interpretation, inviting us to contemplate the variety of ways that pattern permeates our lived experience as something, both organically intrinsic and humanly constructed, that enables us to make sense of our world.
	</p>
	</div>
</div>