<!DOCTYPE html>

<p>Footer id :<%= locals.id ? locals.id : 'nada' %></p>

<ol>
	Something old, something new?!!

</ol>

<% second.forEach(function(item,index){ %>
<p><%= second[index] %></p>
<% }); %>
