<nav>
	<div class="site-title">
		<h1>SIXFOLD SYMMETRY</h1>
		<h1>PATTERNS IN ART &amp; SCIENCE</h1>
	</div>
	<ul class="menu">
		<li> <a href="/partials/">HOME</a></li>
		<li> <a href="/about/">ABOUT</a></li>
		<li> <a href="#" onclick="javascript:(function(){alert('This page is not yet available. Sorry!')})();">CURATORS</a></li>
		<li> <a href="#" onclick="javascript:(function(){alert('This page is not yet available. Sorry!')})();">CREDITS</a></li>
		<!-- <li> <a href="/about/" onclick="javascript:alert('This page is not yet available. Sorry!')";>ABOUT</a></li>
		<li> <a href="/about/curators" onclick="javascript:alert('This page is not yet available. Sorry!');">CURATORS</a></li>
		<li> <a href="/about/credits" onclick="javascript:alert('This page is not yet available. Sorry!')";>CREDITS</a></li> -->
	</ul>
</nav>