<nav>
	<div class="site-title">
		<h1>SIXFOLD SYMMETRY</h1>
		<h1>PATTERNS IN ART &amp; SCIENCE</h1>
	</div>
	<ul class="menu">
		<li> <a href="/">HOME</a></li>
		<li> <a href="/about/">ABOUT</a></li>
		<li> <a href="/about/curators" onclick=";">CURATORS</a></li>
    <li> <a href="/about/credits" onclick="">CREDITS</a></li>
	</ul>
</nav>