<nav>
	<div class="site-title">
	<a href="/partials/">
		<h1>SIXFOLD SYMMETRY</h1>
		<h1>PATTERN IN ART &amp; SCIENCE</h1>
		</a>
	</div>
	<ul class="menu">
		<li> <a href="/partials/">HOME</a></li>
		<li> <a href="/partials/about">ABOUT</a></li>
		<li> <a href="/partials/curators">CURATORS</a></li>
		<li> <a href="/partials/credits">CREDITS</a></li>
	</ul>
</nav>