<title>Sixfold Symmetry</title>
<meta name="description" content="Sixfold Symmetry investigates why the human brain discerns, designs, and desires pattern across all the areas of our lives">
<meta name="keywords" content="Sixfold, Symmetry, Exhibiton, Skidmore, College, Tang, Teaching, Museum, Saratoga">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
<style>
<% include ../css/fonts.css %>
  <% include ../css/item-colors.css %>
  <% include ../css/main.css %>
</style>