
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 36px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown-Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 12.5%; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }

.center, .item-colors div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

@media screen and (max-width: 1000px) {
  ul.home-items {
    flex: 100%;
    display: flex;
    flex-wrap: wrap; } }

.item {
  width: 15vw;
  margin: 1em; }
  .item .item-title {
    font-size: 1.25em;
    font-style: italic;
    margin: .25em 0 .25em 0; }
  @media screen and (max-width: 1000px) {
    .item {
      position: static;
      flex: 50%;
      max-width: 50%;
      padding: 1em;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; } }

.item-colors {
  width: 100%;
  padding-bottom: 100%;
  position: relative; }

li.item:not(:first-child) {
  margin-top: -7.5vw; }
  @media screen and (max-width: 1000px) {
    li.item:not(:first-child) {
      margin-top: 0; } }

.overlapping-right {
  -moz-transform: translate(110%, 0);
  -o-transform: translate(110%, 0);
  -ms-transform: translate(110%, 0);
  -webkit-transform: translate(110%, 0);
  transform: translate(110%, 0); }

.overlapping-left {
  -moz-transform: translate(-110%, 0);
  -o-transform: translate(-110%, 0);
  -ms-transform: translate(-110%, 0);
  -webkit-transform: translate(-110%, 0);
  transform: translate(-110%, 0); }

#clarencelarkin-rightlydividing .primary {
  background-color: #E7E6E9;
  width: 100%;
  height: 100%; }

#clarencelarkin-rightlydividing .secondary {
  background-color: #D6D4D9;
  width: 61.7%;
  height: 61.7%; }

#clarencelarkin-rightlydividing .tertiary {
  background-color: #B8B5BD;
  width: 15.6%;
  height: 15.6%; }

#deansnyder-arachnasarcade .primary {
  background-color: #706B5A;
  width: 100%;
  height: 100%; }

#deansnyder-arachnasarcade .secondary {
  background-color: #4C473E;
  width: 60.1%;
  height: 60.1%; }

#deansnyder-arachnasarcade .tertiary {
  background-color: #29241F;
  width: 24.6%;
  height: 24.6%; }

#gracedegennaro-hours .primary {
  background-color: #C3C5C6;
  width: 100%;
  height: 100%; }

#gracedegennaro-hours .secondary {
  background-color: #8993BD;
  width: 56.1%;
  height: 56.1%; }

#gracedegennaro-hours .tertiary {
  background-color: #818EE3;
  width: 17.5%;
  height: 17.5%; }

#jankogravner-modelingsnow .primary {
  background-color: #0646DD;
  width: 100%;
  height: 100%; }

#jankogravner-modelingsnow .secondary {
  background-color: #013FED;
  width: 53.1%;
  height: 53.1%; }

#jankogravner-modelingsnow .tertiary {
  background-color: #F2F8FA;
  width: 25.3%;
  height: 25.3%; }

#joelfisher-tree .primary {
  background-color: #BAB796;
  width: 100%;
  height: 100%; }

#joelfisher-tree .secondary {
  background-color: #D6A59A;
  width: 56.4%;
  height: 56.4%; }

#joelfisher-tree .tertiary {
  background-color: #1C1E21;
  width: 22.6%;
  height: 22.6%; }

#joshness-biomes .primary {
  background-color: #A5AA82;
  width: 100%;
  height: 100%; }

#joshness-biomes .secondary {
  background-color: #65412E;
  width: 43.0%;
  height: 43.0%; }

#joshness-biomes .tertiary {
  background-color: #B9D5EF;
  width: 19.2%;
  height: 19.2%; }

#louisedespont-energyscaffolds .primary {
  background-color: #D6C3AC;
  width: 100%;
  height: 100%; }

#louisedespont-energyscaffolds .secondary {
  background-color: #BEAC97;
  width: 58.4%;
  height: 58.4%; }

#louisedespont-energyscaffolds .tertiary {
  background-color: #DDBB99;
  width: 14.9%;
  height: 14.9%; }

#madegabeleran-gamelanangklung .primary {
  background-color: #BEBCBC;
  width: 100%;
  height: 100%; }

#madegabeleran-gamelanangklung .secondary {
  background-color: #756E71;
  width: 42.2%;
  height: 42.2%; }

#madegabeleran-gamelanangklung .tertiary {
  background-color: #89B6D2;
  width: 15.7%;
  height: 15.7%; }

#membersezillio-ukaracloth .primary {
  background-color: #162131;
  width: 100%;
  height: 100%; }

#membersezillio-ukaracloth .secondary {
  background-color: #495A65;
  width: 66.0%;
  height: 66.0%; }

#membersezillio-ukaracloth .tertiary {
  background-color: #687981;
  width: 31.5%;
  height: 31.5%; }

#monirfarmanfarmaian-firstfamily .primary {
  background-color: #DBD9D9;
  width: 100%;
  height: 100%; }

#monirfarmanfarmaian-firstfamily .secondary {
  background-color: #797774;
  width: 47.1%;
  height: 47.1%; }

#monirfarmanfarmaian-firstfamily .tertiary {
  background-color: #53514F;
  width: 19.5%;
  height: 19.5%; }

#thomasbangsted-lastdreadnoughts .primary {
  background-color: #EAEAEA;
  width: 100%;
  height: 100%; }

#thomasbangsted-lastdreadnoughts .secondary {
  background-color: #474747;
  width: 34.1%;
  height: 34.1%; }

#thomasbangsted-lastdreadnoughts .tertiary {
  background-color: #252525;
  width: 10.5%;
  height: 10.5%; }

#unknown-kabbalisticdiagram .primary {
  background-color: #CAB8A5;
  width: 100%;
  height: 100%; }

#unknown-kabbalisticdiagram .secondary {
  background-color: #BDAA94;
  width: 59.2%;
  height: 59.2%; }

#unknown-kabbalisticdiagram .tertiary {
  background-color: #D7C8B6;
  width: 21.3%;
  height: 21.3%; }

#unknown-wordsavior .primary {
  background-color: #DECEB6;
  width: 100%;
  height: 100%; }

#unknown-wordsavior .secondary {
  background-color: #E8D3B8;
  width: 43.6%;
  height: 43.6%; }

#unknown-wordsavior .tertiary {
  background-color: #DCC8AE;
  width: 20.3%;
  height: 20.3%; }

#veramolnar-desordres .primary {
  background-color: #DBDBD3;
  width: 100%;
  height: 100%; }

#veramolnar-desordres .secondary {
  background-color: #CECBC3;
  width: 57.0%;
  height: 57.0%; }

#veramolnar-desordres .tertiary {
  background-color: #CCD2D0;
  width: 21.9%;
  height: 21.9%; }

#victorekpuk-drawingmemory .primary {
  background-color: #23201C;
  width: 100%;
  height: 100%; }

#victorekpuk-drawingmemory .secondary {
  background-color: #36302A;
  width: 52.9%;
  height: 52.9%; }

#victorekpuk-drawingmemory .tertiary {
  background-color: #746E68;
  width: 17.4%;
  height: 17.4%; }

#wilsonbentley-snowflakes .primary {
  background-color: #282017;
  width: 100%;
  height: 100%; }

#wilsonbentley-snowflakes .secondary {
  background-color: #E4E4DD;
  width: 62.9%;
  height: 62.9%; }

#wilsonbentley-snowflakes .tertiary {
  background-color: #BFBAAE;
  width: 20.6%;
  height: 20.6%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 36px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown-Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 12.5%; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }

.expanded-item-wrapper {
  width: 100%;
  height: auto;
  z-index: 998;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .expanded-item-wrapper > div {
    flex: 50%;
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0; }

.expanded-item--label {
  flex-basis: 100%;
  width: 100%;
  height: 1px;
  display: flex;
  font-family: "Brown-Bold", Helvetica, sans-serif;
  margin-bottom: 1em;
  background-color: #aaa; }

.expanded-item-images {
  flex: 100% !important;
  padding-top: 0; }
  @media screen and (max-width: 1000px) {
    .expanded-item-images {
      flex: 100% !important; } }

.expanded-item-gallery {
  position: relative;
  flex: 100%;
  height: 60vh;
  width: 100%;
  min-height: 400px; }
  .expanded-item-gallery img {
    height: 100%;
    max-width: 100vw;
    margin: 0 0.5em 0 1em;
    object-fit: contain; }

.flickity-prev-next-button {
  background: transparent; }
  .flickity-prev-next-button .arrow {
    fill: #fff; }

.expanded-item-info {
  padding-top: 2em;
  text-align: left;
  line-height: .75em; }
  .expanded-item-info h1 {
    font-style: italic; }

.expanded-item-about {
  flex: 100% !important; }
  .expanded-item-about p {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-width: auto;
    /* Chrome, Safari, Opera */
    -moz-column-width: auto;
    /* Firefox */
    column-width: auto;
    -webkit-column-gap: 1em;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 1em;
    /* Firefox */
    column-gap: 1em; }
  @media screen and (max-width: 1000px) {
    .expanded-item-about p {
      -webkit-column-count: 1;
      /* Chrome, Safari, Opera */
      -moz-column-count: 1;
      /* Firefox */
      column-count: 1;
      -webkit-column-width: auto;
      /* Chrome, Safari, Opera */
      -moz-column-width: auto;
      /* Firefox */
      column-width: auto;
      -webkit-column-gap: 1em;
      /* Chrome, Safari, Opera */
      -moz-column-gap: 1em;
      /* Firefox */
      column-gap: 1em; } }

@media screen and (max-width: 1000px) {
  .expanded-item-artist {
    flex: 100% !important; } }

.expanded-item-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; }
  @media screen and (max-width: 1000px) {
    .expanded-item-stats {
      flex: 100% !important; } }

.expanded-item-stat {
  padding: 0 1em 1em 0; }
  .expanded-item-stat h1 {
    font-size: 2em; }


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 36px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown-Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 12.5%; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out; }
