html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 28px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.page-title {
  padding: 1em;
  flex: 100%; }
  .page-title h1 {
    font-size: 2em; }
  @media screen and (max-width: 1000px) {
    .page-title {
      text-align: center; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 20%;
        flex-grow: 0; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important; }

.about > div {
  padding: 1em; }

.about-quote h2 {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  line-height: 1.25em; }

.about-quote h3 {
  padding: 1em 0 1em 0;
  text-align: right; }


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 28px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.page-title {
  padding: 1em;
  flex: 100%; }
  .page-title h1 {
    font-size: 2em; }
  @media screen and (max-width: 1000px) {
    .page-title {
      text-align: center; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 20%;
        flex-grow: 0; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important; }

.credits h2 {
  font-size: 1.5em;
  line-height: 1.25em; }

.credits > div {
  padding: 0.5em 1em 0.5em 1em; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 28px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.page-title {
  padding: 1em;
  flex: 100%; }
  .page-title h1 {
    font-size: 2em; }
  @media screen and (max-width: 1000px) {
    .page-title {
      text-align: center; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 20%;
        flex-grow: 0; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important; }

.curators {
  padding-right: 1em; }
  .curators h2 {
    font-size: 2em; }
  .curators > div {
    padding: 1em; }

.curator {
  margin-bottom: 1em; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 28px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.page-title {
  padding: 1em;
  flex: 100%; }
  .page-title h1 {
    font-size: 2em; }
  @media screen and (max-width: 1000px) {
    .page-title {
      text-align: center; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 20%;
        flex-grow: 0; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important; }

.center, .item-colors div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

@media screen and (max-width: 1000px) {
  ul.home-items {
    flex: 100%;
    display: flex;
    flex-wrap: wrap; } }

.item {
  width: 15vw;
  margin: 1em; }
  .item .item-title {
    font-size: 1.25em;
    font-style: italic;
    margin: .25em 0 .25em 0; }
  @media screen and (max-width: 1000px) {
    .item {
      position: static;
      flex: 50%;
      max-width: 50%;
      padding: 1em;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; } }

@media screen and (max-width: 1000px) {
  .item[style] {
    margin-left: 0 !important;
    margin: 0 !important; } }

.item-colors {
  width: 100%;
  padding-bottom: 100%;
  position: relative; }

li.item:not(:first-child) {
  margin-top: -7.5vw; }
  @media screen and (max-width: 1000px) {
    li.item:not(:first-child) {
      margin-top: 0; } }

.overlap {
  margin-top: 0 !important; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 28px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.page-title {
  padding: 1em;
  flex: 100%; }
  .page-title h1 {
    font-size: 2em; }
  @media screen and (max-width: 1000px) {
    .page-title {
      text-align: center; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 20%;
        flex-grow: 0; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important; }

.expanded-item-wrapper {
  width: 100%;
  height: auto;
  z-index: 998;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .expanded-item-wrapper > div {
    flex: 50%;
    padding: 1em 1em 0 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0; }

.expanded-item--label {
  flex-basis: 100%;
  width: 100%;
  height: 1px;
  display: flex;
  font-family: "Brown Bold", Helvetica, sans-serif;
  margin-bottom: 1em; }

.expanded-item-images {
  flex: 100% !important;
  padding-top: 0; }
  @media screen and (max-width: 1000px) {
    .expanded-item-images {
      flex: 100% !important; } }

.expanded-item-gallery {
  position: relative;
  flex: 100%;
  height: 60vh;
  width: 100%;
  min-height: 400px; }
  .expanded-item-gallery img {
    height: 100%;
    max-width: 100vw;
    margin: 0 0.5em 0 1em;
    object-fit: contain; }

.flickity-prev-next-button {
  background: transparent; }
  .flickity-prev-next-button .arrow {
    fill: #fff; }

.expanded-item-info {
  padding-top: 2em !important;
  text-align: left;
  line-height: 1.2em; }
  .expanded-item-info h1 {
    font-style: italic; }

.expanded-item-about {
  flex: 100% !important; }
  .expanded-item-about p {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-width: auto;
    /* Chrome, Safari, Opera */
    -moz-column-width: auto;
    /* Firefox */
    column-width: auto;
    -webkit-column-gap: 1em;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 1em;
    /* Firefox */
    column-gap: 1em; }
  @media screen and (max-width: 1000px) {
    .expanded-item-about p {
      -webkit-column-count: 1;
      /* Chrome, Safari, Opera */
      -moz-column-count: 1;
      /* Firefox */
      column-count: 1;
      -webkit-column-width: auto;
      /* Chrome, Safari, Opera */
      -moz-column-width: auto;
      /* Firefox */
      column-width: auto;
      -webkit-column-gap: 1em;
      /* Chrome, Safari, Opera */
      -moz-column-gap: 1em;
      /* Firefox */
      column-gap: 1em; } }

.curator-link {
  text-decoration: underline; }

@media screen and (max-width: 1000px) {
  .expanded-item-artist {
    flex: 100% !important; } }

.expanded-item-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start; }
  @media screen and (max-width: 1000px) {
    .expanded-item-stats {
      flex: 100% !important; } }

.expanded-item-stat {
  padding: 0 1em 1em 0; }
  .expanded-item-stat h1 {
    font-size: 2em; }


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #262626;
  font-family: "Brown", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }
  @media screen and (max-width: 1000px) {
    body {
      font-size: 28px; } }

p {
  line-height: 1.5em; }

a, a:visited {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 500ms ease-in-out;
  -moz-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  -o-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out; }

nav {
  position: fixed;
  width: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-basis: 100;
  z-index: 999; }
  @media screen and (max-width: 1000px) {
    nav {
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100;
      text-align: center; } }

.site-title {
  font-family: "Brown Bold", Helvetica, sans-serif; }
  .site-title h1 {
    font-size: 3.5em; }
  .site-title h1:nth-of-type(1) {
    position: fixed;
    moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -moz-transform: rotate(-90deg) translateX(-111%);
    -o-transform: rotate(-90deg) translateX(-111%);
    -ms-transform: rotate(-90deg) translateX(-111%);
    -webkit-transform: rotate(-90deg) translateX(-111%);
    transform: rotate(-90deg) translateX(-111%); }
    .site-title h1:nth-of-type(1):after {
      content: ':'; }
  @media screen and (max-width: 1400px) {
    .site-title h1 {
      font-size: 2.45em; } }
  @media screen and (max-width: 1000px) {
    .site-title h1 {
      position: relative; }
    .site-title h1:nth-of-type(1) {
      position: relative;
      -moz-transform: rotate(0deg) translateX(0%);
      -o-transform: rotate(0deg) translateX(0%);
      -ms-transform: rotate(0deg) translateX(0%);
      -webkit-transform: rotate(0deg) translateX(0%);
      transform: rotate(0deg) translateX(0%); }
      .site-title h1:nth-of-type(1):after {
        content: ''; }
    .site-title h1:nth-of-type(2) {
      display: none; } }

.menu {
  top: 1.75em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu li {
    display: inline-block;
    margin: 0 0.5em 0 0.5em; }
  @media screen and (max-width: 1400px) {
    .menu {
      top: 1.225em; } }

#content-area {
  position: relative;
  margin: 5.5em 0 0 5.5em;
  max-width: 100%;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; }
  @media screen and (max-width: 1400px) {
    #content-area {
      margin: 4.45em 0 0 4.45em; } }
  @media screen and (max-width: 1000px) {
    #content-area {
      margin: 0;
      display: flex;
      flex-wrap: wrap; } }

.page-title {
  padding: 1em;
  flex: 100%; }
  .page-title h1 {
    font-size: 2em; }
  @media screen and (max-width: 1000px) {
    .page-title {
      text-align: center; } }

.all-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 1em !important; }
  .all-items > div {
    position: static;
    top: 0;
    left: 0;
    flex-basis: 10%;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 1000px) {
      .all-items > div {
        flex-basis: 20%;
        flex-grow: 0; } }

.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s ease-in-out !important;
  -moz-transition: opacity 0.5s ease-in-out !important;
  -ms-transition: opacity 0.5s ease-in-out !important;
  -o-transition: opacity 0.5s ease-in-out !important;
  transition: opacity 0.5s ease-in-out !important; }
