html
	head
		link(href='./css/main.css', rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css', rel='stylesheet')
		link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css', rel='stylesheet')
	body
		nav
			.site-title
				h1 SIXFOLD SYMMETRY
				h1 PATTERNS IN ART &amp; SCIENCE
			ul.menu
				li 
					a(href="/") INDEX
				li 
					a(href="#") FACULTY
				li 
					a(href="#") ABOUT
				li 
					a(href="#") EXTRA
		.content-area
			#one.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
			#two.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
			#three.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
		script(src='./js/main.js')