html
	head
		link(href='https://unpkg.com/flickity@2/dist/flickity.min.css', rel='stylesheet')
		link(href='./css/main.css', rel='stylesheet')
	body
		nav
			.site-title
				h1 SIXFOLD SYMMETRY
				h1 PATTERNS IN ART &amp; SCIENCE
			ul.menu
				li 
					a(href="/") INDEX
				li 
					a(href="#") FACULTY
				li 
					a(href="#") ABOUT
				li 
					a(href="#" onclick="flickResize()") EXTRA
		.content-area
			#one.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
			#two.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
			#three.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
			#four.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
			#five.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
		script(src='https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js')
		script(src='http://cdn.rawgit.com/alumbo/jquery.parallax-scroll/master/js/jquery.parallax-scroll.js')
		script(src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js")
		script(src='./js/main.js')