html
	head
		link(href='./css/main.css', rel='stylesheet')
	body
		nav
			.site-title
				h1 SIXFOLD SYMMETRY:
				h1 PATTERNS IN ART & SCIENCE
			ul.menu
				li 
					a(href="#") INDEX
				li 
					a(href="#") BIO
				li 
					a(href="#") SOMETHING
				li 
					a(href="#") MORE HERE
		.all-items
			#one.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
		script(src='./js/main.js')