html
	head
		link(href='./css/main.css', rel='stylesheet')
	body
		nav
			.site-title
				h1 SIXFOLD SYMMETRY
				h1 PATTERNS IN ART & SCIENCE
			ul.menu
				li 
					a(href="#") INDEX
				li 
					a(href="#") BIO
				li 
					a(href="#") SOMETHING
				li 
					a(href="#") MORE HERE
		.content-area
			//-#one.item
				a(href="http://google.com")
					.item-colors
						.primary
						.secondary
						.tertiary
					.item-name Sample Item Title
					.item-artist Artist Name
			.selected-item
				h1 we out here fool
				p Mauris iaculis nunc vel est luctus commodo. Aenean ut mauris elit. Nam interdum cursus mi vel luctus. Nunc sapien augue, egestas quis erat vitae, interdum bibendum velit. Fusce ac pellentesque sapien. Fusce at diam fermentum, feugiat turpis in, luctus elit. Duis non fermentum est, sit amet lacinia est. Aliquam tristique risus at nunc consectetur tempus. Integer malesuada congue dolor, egestas ultricies est euismod nec. Nullam congue massa quis eros pretium, et fermentum mi vulputate. Aenean pellentesque accumsan justo a cursus. Vestibulum vitae viverra diam. Aliquam erat volutpat. Nam et quam mollis, ultrices mi et, facilisis ante. Mauris rutrum urna ut odio tincidunt placerat.
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
		script(src='./js/main.js')