#jankogravner-modelingsnow .primary {background-color:#0646DD; width: 100%; height: 100%;}
#jankogravner-modelingsnow .secondary {background-color:#013FED; width: 52.9%; height: 52.9%;}
#jankogravner-modelingsnow .tertiary {background-color:#F2F8FA; width: 25.2%; height: 25.2%;}
#joelfisher-tree .primary {background-color:#BAB796; width: 100%; height: 100%;}
#joelfisher-tree .secondary {background-color:#D6A59A; width: 56.4%; height: 56.4%;}
#joelfisher-tree .tertiary {background-color:#1C1E21; width: 22.6%; height: 22.6%;}
#membersezillio-ukaracloth .primary {background-color:#495A65; width: 100%; height: 100%;}
#membersezillio-ukaracloth .secondary {background-color:#162131; width: 66.0%; height: 66.0%;}
#membersezillio-ukaracloth .tertiary {background-color:#687981; width: 31.5%; height: 31.5%;}
#unknown-kabbalisticdiagram .primary {background-color:#CAB8A5; width: 100%; height: 100%;}
#unknown-kabbalisticdiagram .secondary {background-color:#BDA994; width: 58.5%; height: 58.5%;}
#unknown-kabbalisticdiagram .tertiary {background-color:#D7C7B6; width: 21.9%; height: 21.9%;}
