html
	head
		link(href='./css/main.css', rel='stylesheet')
	body
		#one.item
			a(href="http://google.com")
				.item-colors
					.primary
					.secondary
					.tertiary
				.item-name Sample Text Is A Little Too Long
				.item-artist Artist Name
		script(src='https://code.jquery.com/jquery-3.1.1.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')
		script(src='./js/main.js')