#clarencelarkin-rightlydividing .primary {background-color:#E7E6E9; width: 100%; height: 100%;}
#clarencelarkin-rightlydividing .secondary {background-color:#D6D4D9; width: 61.7%; height: 61.7%;}
#clarencelarkin-rightlydividing .tertiary {background-color:#B8B5BD; width: 15.6%; height: 15.6%;}
#deansnyder-arachnasarcade .primary {background-color:#706B5A; width: 100%; height: 100%;}
#deansnyder-arachnasarcade .secondary {background-color:#4C473E; width: 60.1%; height: 60.1%;}
#deansnyder-arachnasarcade .tertiary {background-color:#29241F; width: 24.6%; height: 24.6%;}
#gracedegennaro-hours .primary {background-color:#C3C5C6; width: 100%; height: 100%;}
#gracedegennaro-hours .secondary {background-color:#8993BD; width: 56.1%; height: 56.1%;}
#gracedegennaro-hours .tertiary {background-color:#818EE3; width: 17.5%; height: 17.5%;}
#jankogravner-modelingsnow .primary {background-color:#0646DD; width: 100%; height: 100%;}
#jankogravner-modelingsnow .secondary {background-color:#013FED; width: 52.9%; height: 52.9%;}
#jankogravner-modelingsnow .tertiary {background-color:#F2F8FA; width: 25.2%; height: 25.2%;}
#joelfisher-tree .primary {background-color:#BAB796; width: 100%; height: 100%;}
#joelfisher-tree .secondary {background-color:#D6A59A; width: 56.4%; height: 56.4%;}
#joelfisher-tree .tertiary {background-color:#1C1E21; width: 22.6%; height: 22.6%;}
#joshness-biomes .primary {background-color:#A5AA82; width: 100%; height: 100%;}
#joshness-biomes .secondary {background-color:#65412E; width: 43.0%; height: 43.0%;}
#joshness-biomes .tertiary {background-color:#B9D5EF; width: 19.2%; height: 19.2%;}
#louisedespont-energyscaffolds .primary {background-color:#D6C3AC; width: 100%; height: 100%;}
#louisedespont-energyscaffolds .secondary {background-color:#BEAC97; width: 58.4%; height: 58.4%;}
#louisedespont-energyscaffolds .tertiary {background-color:#DDBB99; width: 14.9%; height: 14.9%;}
#madegabeleran-gamelanangklung .primary {background-color:#BEBCBC; width: 100%; height: 100%;}
#madegabeleran-gamelanangklung .secondary {background-color:#756E71; width: 42.2%; height: 42.2%;}
#madegabeleran-gamelanangklung .tertiary {background-color:#89B6D2; width: 15.7%; height: 15.7%;}
#membersezillio-ukaracloth .primary {background-color:#162231; width: 100%; height: 100%;}
#membersezillio-ukaracloth .secondary {background-color:#4B5C66; width: 64.5%; height: 64.5%;}
#membersezillio-ukaracloth .tertiary {background-color:#303F4C; width: 31.1%; height: 31.1%;}
#monirfarmanfarmaian-firstfamily .primary {background-color:#DBD9D9; width: 100%; height: 100%;}
#monirfarmanfarmaian-firstfamily .secondary {background-color:#797774; width: 47.1%; height: 47.1%;}
#monirfarmanfarmaian-firstfamily .tertiary {background-color:#53514F; width: 19.5%; height: 19.5%;}
#thomasbangsted-lastdreadnoughts .primary {background-color:#EAEAEA; width: 100%; height: 100%;}
#thomasbangsted-lastdreadnoughts .secondary {background-color:#474747; width: 34.1%; height: 34.1%;}
#thomasbangsted-lastdreadnoughts .tertiary {background-color:#252525; width: 10.5%; height: 10.5%;}
#unknown-kabbalisticdiagram .primary {background-color:#CAB8A5; width: 100%; height: 100%;}
#unknown-kabbalisticdiagram .secondary {background-color:#BDAA94; width: 59.2%; height: 59.2%;}
#unknown-kabbalisticdiagram .tertiary {background-color:#D7C8B6; width: 21.3%; height: 21.3%;}
#unknown-wordsavior .primary {background-color:#DECEB6; width: 100%; height: 100%;}
#unknown-wordsavior .secondary {background-color:#E8D3B8; width: 44.3%; height: 44.3%;}
#unknown-wordsavior .tertiary {background-color:#D2C2AE; width: 20.8%; height: 20.8%;}
#veramolnar-desordres .primary {background-color:#DBDBD3; width: 100%; height: 100%;}
#veramolnar-desordres .secondary {background-color:#CECBC3; width: 57.0%; height: 57.0%;}
#veramolnar-desordres .tertiary {background-color:#CCD2D0; width: 21.9%; height: 21.9%;}
#victorekpuk-drawingmemory .primary {background-color:#23201C; width: 100%; height: 100%;}
#victorekpuk-drawingmemory .secondary {background-color:#36312B; width: 54.3%; height: 54.3%;}
#victorekpuk-drawingmemory .tertiary {background-color:#76706A; width: 16.7%; height: 16.7%;}
#wilsonbentley-snowflakes .primary {background-color:#282017; width: 100%; height: 100%;}
#wilsonbentley-snowflakes .secondary {background-color:#E4E4DD; width: 62.9%; height: 62.9%;}
#wilsonbentley-snowflakes .tertiary {background-color:#BFBAAE; width: 20.6%; height: 20.6%;}
