<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/universal-head %>
</head>

<body>
	<% include ../partials/universal-nav %>
	<div id="content-area">
		<% include ../partials/index %>
	</div>
	<% include ../partials/universal-scripts.ejs %>
</body>
</html>