<!DOCTYPE html>
<html lang="en">
<head>
<style>
.destination{
	width: 500px;
	height: 500px;
	background-color: pink;
	overflow-y: scroll;
}
</style>
</head>

<body>
	<button>CLICK TO LOAD</button>
	<div class="destination"></div>
	<% include ../partials/footer %>
	<% include ../js/scripts %>
	<script type="text/javascript">
	$('button').click(function(e){
		$('.destination').load('./partials/tester');
	});
	</script>
</body>
</html>