<!DOCTYPE html>
<html lang="en">
<head>
		<% include ../partials/allitemcolors %>
</head>

<body>
	<div id="one">
		<div class="primary">
		one
		</div>
		<div class="secondary">
		two
		</div>
		<div class="tertiary">
		three
		</div>
	</div>

</body>
</html>