<!DOCTYPE html>
<html lang="en">
<head>
		<% include ../partials/universal-head %>
</head>

<body>
	<div id="one">
		<div class="primary">
		one
		</div>
		<div class="secondary">
		two
		</div>
		<div class="tertiary">
		three
		</div>
	</div>
	<% include ../partials/universal-scripts.ejs %>
</body>
</html>