<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/universal-head %>
</head>
<body class="<% if((typeof items !== 'undefined')&&(typeof index !== 'undefined')){%><%= locals.items[index].slug %><% } %>">
  <% include ../partials/universal-nav %>
  <div id="content-area">
   <% include ../partials/item %>
 </div>
 <% include ../partials/universal-scripts %>
</body>
</html>